@import url("./root.css");

/* flex center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.v-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.h-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* text */
.my-t-dark {
  color: var(--my-dark);
}
.my-t-primary {
  color: var(--my-primary);
}
/* 
Background
*/
.my-bg {
  background: var(--gradient) !important;
}
.glass-bg {
  background: var(--glass) !important;
  backdrop-filter: var(--glass-blur) !important;
}
.bg-my-danger {
  background: #f1536e;
}
.bg-my-success {
  background: #00c689;
}
.bg-my-primary {
  background: #3da5f4;
}
.bg-my-warning {
  background: #fda006;
}
/* height */
.vh-min-100 {
  min-height: 100vh;
}
.vh-min-80 {
  min-height: 80vh;
}
/* aspect ratio */
.a-r-1 {
  aspect-ratio: 1 !important;
}
.a-r-16 {
  aspect-ratio: 16/9 !important;
}
/* bg img " */
.bg-quote-img {
  position: relative;
  z-index: 1;
}
.bg-quote-img::before {
  position: absolute;
  content: url("./Images/q-bg.png");
  opacity: 0.15;
  object-fit: cover;
  top: 50%;
  left: 60%;
  transform: translateY(-50%) scale(1.6);
  z-index: 0;
}
/* bg img " */
.sec-bg-quote-img {
  position: relative;
  z-index: 1;
}
.sec-bg-quote-img::before {
  position: absolute;
  content: url("./Images/q-bg-primary.png");
  opacity: 0.2;
  object-fit: cover;
  top: 10%;
  left: 80%;
  transform: translateY(-50%) scale(1);
  z-index: 0;
}
@media (max-width: 800px) {
  .sec-bg-quote-img::before {
    display: none;
  }
}
/* hover primary */
.hover-primary {
  cursor: pointer;
}
.hover-primary:hover {
  background: var(--gradient) !important;
}
.hover-primary:hover * {
  color: white !important;
}
/* card  */
.card-shadow {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
/* active */
