.dashBoard-link {
  background: #ffffff30;
  color: white;
}
.dashBoard-link:hover {
  background: #ffffff50;
  color: white;
}
.dashBoard-link-active {
  background: #ffffff;
  color: #0d6efd;
  font-weight: 500;
  letter-spacing: 1px;
}
.dashBoard-link-active.dashBoard-link:hover {
  background: #ffffff;
  color: #0d6efd;
  font-weight: 500;
  letter-spacing: 1px;
}
